<div class="collection__list">
  <div class="collection__list-transparent">
    <app-card name="Amonkhet Invocation" block="Amonkhet" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
    <app-card name="test" block="test" releaseDate="10/05/2024" />
  </div>
</div>
