.title-project{
  font-family: 'Planewalker', sans-serif;
  color: #f4f4f4;
  font-size: 60px;
  text-shadow: 0 0 25px #ea3601;
  text-align: center;
  align-content: space-around;
  height: 15rem;
}

@font-face {
  font-family: 'Planewalker';
  src: url('././../assets/fonts/Planewalker.otf');
}
